Options -Indexes

RewriteEngine on

RewriteRule ^home/?$ app/controller/webAppController.php?route=home
RewriteRule ^signup/?$ app/controller/webAppController.php?route=signup
RewriteRule ^about/?$ app/controller/webAppController.php?route=about
RewriteRule ^report/?$ app/controller/webAppController.php?route=report
